In [1]:
import pandas as pd
data = pd.read_csv(r'C:\Users\Admin\resources\students.csv',encoding = 'utf-8')
data

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5
8,20205218,Nguyễn Văn Thành,5/20/2000,Nam,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5

In [2]:
data.head()

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8

In [3]:
data.groupby('Quê quán')

In [4]:
data.groupby('Quê quán')['Toán']

In [6]:
data.groupby('Quê quán')['Toán'].mean()

Quê quán
Bắc Ninh      7.75
Hà Nam        4.20
Hà Nội        6.95
Nam Định      6.70
Quảng Bình    5.60
Thái Bình     9.30
Name: Toán, dtype: float64

In [8]:
data.groupby('Quê quán')['Toán','Văn'].mean()

C:\Users\Admin\AppData\Local\Temp\ipykernel_10736\2857368668.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby('Quê quán')['Toán','Văn'].mean()

            Toán    Văn
Quê quán
Bắc Ninh    7.75  6.350
Hà Nam      4.20  7.000
Hà Nội      6.95  5.925
Nam Định    6.70  6.700
Quảng Bình  5.60  6.500
Thái Bình   9.30  6.500

In [9]:
data.groupby('Quê quán')['Mã học sinh'].count()

Quê quán
Bắc Ninh      2
Hà Nam        1
Hà Nội        4
Nam Định      1
Quảng Bình    1
Thái Bình     1
Name: Mã học sinh, dtype: int64

In [10]:
data = pd.read_csv(r'C:\Users\Admin\resources\students.csv',encoding = 'utf-8')
data.head()

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8

In [11]:
data.groupby(['Quê quán','Giới tính'])['Toán'].aggregate('mean').unstack()

Giới tính    Nam   Nữ
Quê quán
Bắc Ninh    7.50  8.0
Hà Nam       NaN  4.2
Hà Nội      6.95  NaN
Nam Định     NaN  6.7
Quảng Bình  5.60  NaN
Thái Bình   9.30  NaN

In [12]:
data.groupby(['Quê quán','Giới tính'])['Toán'].aggregate('mean')

Quê quán    Giới tính
Bắc Ninh    Nam          7.50
            Nữ           8.00
Hà Nam      Nữ           4.20
Hà Nội      Nam          6.95
Nam Định    Nữ           6.70
Quảng Bình  Nam          5.60
Thái Bình   Nam          9.30
Name: Toán, dtype: float64

In [13]:
data.pivot_table('Toán',index='Quê quán',columns='Giới tính')

Giới tính    Nam   Nữ
Quê quán
Bắc Ninh    7.50  8.0
Hà Nam       NaN  4.2
Hà Nội      6.95  NaN
Nam Định     NaN  6.7
Quảng Bình  5.60  NaN
Thái Bình   9.30  NaN

In [14]:
data.pivot_table('Toán',index='Giới tính',columns='Quê quán')

Quê quán   Bắc Ninh  Hà Nam  Hà Nội  Nam Định  Quảng Bình  Thái Bình
Giới tính
Nam             7.5     NaN    6.95       NaN         5.6        9.3
Nữ              8.0     4.2     NaN       6.7         NaN        NaN

In [22]:
df = pd.read_csv(r'C:\Users\Admin\resources\births.csv',encoding = 'utf-8')
df

       year  month  day gender  births
0      1969      1  1.0      F    4046
1      1969      1  1.0      M    4440
2      1969      1  2.0      F    4454
3      1969      1  2.0      M    4548
4      1969      1  3.0      F    4548
...     ...    ...  ...    ...     ...
15542  2008     10  NaN      M  183219
15543  2008     11  NaN      F  158939
15544  2008     11  NaN      M  165468
15545  2008     12  NaN      F  173215
15546  2008     12  NaN      M  181235

[15547 rows x 5 columns]

In [23]:
df['Decade']=df['year']-(df['year']%10)
df
#Cách khác df['Decade']=(df['year']//10)*10

       year  month  day gender  births  Decade
0      1969      1  1.0      F    4046    1960
1      1969      1  1.0      M    4440    1960
2      1969      1  2.0      F    4454    1960
3      1969      1  2.0      M    4548    1960
4      1969      1  3.0      F    4548    1960
...     ...    ...  ...    ...     ...     ...
15542  2008     10  NaN      M  183219    2000
15543  2008     11  NaN      F  158939    2000
15544  2008     11  NaN      M  165468    2000
15545  2008     12  NaN      F  173215    2000
15546  2008     12  NaN      M  181235    2000

[15547 rows x 6 columns]

In [25]:
df.pivot_table('births',index='Decade',columns='gender',aggfunc='sum')

gender         F         M
Decade
1960     1753634   1846572
1970    16263075  17121550
1980    18310351  19243452
1990    19479454  20420553
2000    18229309  19106428

In [7]:
data.groupby('Quê quán')['Toán','Văn'].mean()

C:\Users\Admin\AppData\Local\Temp\ipykernel_10736\2857368668.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby('Quê quán')['Toán','Văn'].mean()

            Toán    Văn
Quê quán
Bắc Ninh    7.75  6.350
Hà Nam      4.20  7.000
Hà Nội      6.95  5.925
Nam Định    6.70  6.700
Quảng Bình  5.60  6.500
Thái Bình   9.30  6.500

In [34]:
#Sửa bài tập về nhà students
data_stu = pd.read_excel(r'C:\Users\Admin\resources\students.xlsx')
data_stu

,Mã học sinh,Họ tên,Ngày sinh,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,2000-03-10,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2001-02-11,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,2002-07-05,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,2000-12-17,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,2000-01-25,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,2000-04-03,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,2000-06-21,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,2000-08-27,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5
8,20205218,Nguyễn Văn Thành,2000-05-20,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8
9,20205219,Nguyễn Thanh Oai,2000-05-25,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5

In [27]:
#Có bao nhiêu học sinh ở tường tỉnh tham gia kì thi tốt nghiệp
#Cách 1
provinces = data_stu['Quê quán'].unique()
#(tỉnh không trùng lặp)
provinces_dicts ={pro:0 for pro in provinces}
provinces_dicts
#(key là các tỉnh, số lượng đang là 0)

{'Hà Nội': 0,
 'Quảng Bình': 0,
 'Hà Nam': 0,
 'Bắc Ninh': 0,
 'Thái Bình': 0,
 'Nam Định': 0}

In [28]:
for i in data_stu['Quê quán'].values:
    if i in provinces_dicts.keys():
        provinces_dicts[i]+=1
print(provinces_dicts)
provinces_dicts = dict(sorted(provinces_dicts.items(),key = lambda x: x[1],reverse=True))
print(provinces_dicts)

{'Hà Nội': 4, 'Quảng Bình': 1, 'Hà Nam': 1, 'Bắc Ninh': 2, 'Thái Bình': 1, 'Nam Định': 1}
{'Hà Nội': 4, 'Bắc Ninh': 2, 'Quảng Bình': 1, 'Hà Nam': 1, 'Thái Bình': 1, 'Nam Định': 1}

In [30]:
#Cách 2
result = data_stu.groupby('Quê quán')['Quê quán'].count()
res=result.sort_values(ascending=False)
res

Quê quán
Hà Nội        4
Bắc Ninh      2
Hà Nam        1
Nam Định      1
Quảng Bình    1
Thái Bình     1
Name: Quê quán, dtype: int64

In [32]:
data_stu['Quê quán'].value_counts()

Hà Nội        4
Bắc Ninh      2
Quảng Bình    1
Hà Nam        1
Thái Bình     1
Nam Định      1
Name: Quê quán, dtype: int64

In [38]:
#Thí sinh nào nhiều tuổi nhất, ít tuổi nhất
import datetime
data_stu['Age']=datetime.datetime.today().year-data_stu['Ngày sinh'].dt.year
data_stu.head()
#data_stu['Age']=datetime.datetime.today().year-pd.to_datetime(data_stu['Ngày sinh']).dt.year

,Mã học sinh,Họ tên,Ngày sinh,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh,Age
0,20205210,Nguyễn Đức Bình,2000-03-10,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5,22
1,20205211,Lê Minh Hoàng,2001-02-11,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0,21
2,20205212,Trần Trang Nhung,2002-07-05,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5,20
3,20205213,Nguyễn Thị Linh,2000-12-17,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0,22
4,20205214,Đặng Ngọc Sơn,2000-01-25,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8,22

In [39]:
sorted_data_stu=data_stu.sort_values(by=['Age'],ascending=False)
sorted_data_stu

,Mã học sinh,Họ tên,Ngày sinh,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh,Age
0,20205210,Nguyễn Đức Bình,2000-03-10,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5,22
3,20205213,Nguyễn Thị Linh,2000-12-17,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0,22
4,20205214,Đặng Ngọc Sơn,2000-01-25,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8,22
5,20205215,Hà Trung Kiên,2000-04-03,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9,22
6,20205216,Võ Hoàng Yến,2000-06-21,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6,22
7,20205217,Hoàng Trung Sơn,2000-08-27,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5,22
8,20205218,Nguyễn Văn Thành,2000-05-20,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8,22
9,20205219,Nguyễn Thanh Oai,2000-05-25,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5,22
1,20205211,Lê Minh Hoàng,2001-02-11,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0,21
2,20205212,Trần Trang Nhung,2002-07-05,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5,20

In [43]:
#Chia phổ điểm từ 0-10 thành 10 đoạn (0-1,1-2,2-3...9-10)
#Tính số luoengj sinh viên có điểm thi từng môn trong từng phổ điểm trên
spec = {(i,i+1):0 for i in range(10)}
#lấy biên bên trái không lấy biên bên phải
for i in data_stu['Toán'].values:
    if i<1:
        spec[(0,1)]+=1
    elif i<2:
        spec[(1,2)]+=1
    elif i<3:
        spec[(2,3)]+=1
    elif i<4:
        spec[(3,4)]+=1
    elif i<5:
        spec[(4,5)]+=1
    elif i<6:
        spec[(5,6)]+=1
    elif i<7:
        spec[(6,7)]+=1
    elif i<8:
        spec[(7,8)]+=1
    elif i<9:
        spec[(8,9)]+=1
    else:
        spec[(9,10)]+=1
spec

{(0, 1): 0,
 (1, 2): 0,
 (2, 3): 0,
 (3, 4): 0,
 (4, 5): 1,
 (5, 6): 2,
 (6, 7): 1,
 (7, 8): 3,
 (8, 9): 2,
 (9, 10): 1}

In [48]:
data_stu['Đtb']=round((2*(data_stu['Toán']+data_stu['Văn']+data_stu['Tiếng Anh'])+(data_stu['Sử ']+data_stu['Địa']+data_stu['Lý']+data_stu['Hoá']+ data_stu['Sinh']))/11)
data_stu

,Mã học sinh,Họ tên,Ngày sinh,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh,Age,Đtb
0,20205210,Nguyễn Đức Bình,2000-03-10,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5,22,7.0
1,20205211,Lê Minh Hoàng,2001-02-11,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0,21,7.0
2,20205212,Trần Trang Nhung,2002-07-05,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5,20,6.0
3,20205213,Nguyễn Thị Linh,2000-12-17,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0,22,7.0
4,20205214,Đặng Ngọc Sơn,2000-01-25,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8,22,6.0
5,20205215,Hà Trung Kiên,2000-04-03,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9,22,6.0
6,20205216,Võ Hoàng Yến,2000-06-21,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6,22,7.0
7,20205217,Hoàng Trung Sơn,2000-08-27,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5,22,6.0
8,20205218,Nguyễn Văn Thành,2000-05-20,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8,22,8.0
9,20205219,Nguyễn Thanh Oai,2000-05-25,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5,22,6.0

In [49]:
#Sinh viên đỗ trượt, đại học từng khối
data_stu['A'] = data_stu['Toán']+data_stu['Lý']+ data_stu['Hoá']
data_stu['A1'] = data_stu['Toán']+data_stu['Lý']+ data_stu['Tiếng Anh']
data_stu['B'] = data_stu['Toán']+data_stu['Sinh']+ data_stu['Hoá']
data_stu['C'] = data_stu['Văn']+data_stu['Sử ']+data_stu['Địa']
data_stu['D']= data_stu['Toán']+data_stu['Văn']+(data_stu['Tiếng Anh'])*2
data_stu

,Mã học sinh,Họ tên,Ngày sinh,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh,Age,Đtb,A,A1,B,C,D
0,20205210,Nguyễn Đức Bình,2000-03-10,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5,22,7.0,23.8,23.5,22.6,15.0,28.0
1,20205211,Lê Minh Hoàng,2001-02-11,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0,21,7.0,19.3,22.3,18.6,15.9,30.1
2,20205212,Trần Trang Nhung,2002-07-05,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5,20,6.0,16.1,16.2,17.6,18.8,22.2
3,20205213,Nguyễn Thị Linh,2000-12-17,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0,22,7.0,20.1,19.6,21.5,19.6,27.5
4,20205214,Đặng Ngọc Sơn,2000-01-25,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8,22,6.0,22.6,18.9,21.3,18.8,23.4
5,20205215,Hà Trung Kiên,2000-04-03,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9,22,6.0,18.2,17.5,16.2,18.2,21.8
6,20205216,Võ Hoàng Yến,2000-06-21,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6,22,7.0,20.8,21.1,20.0,24.2,28.6
7,20205217,Hoàng Trung Sơn,2000-08-27,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5,22,6.0,23.5,23.0,16.5,14.2,25.7
8,20205218,Nguyễn Văn Thành,2000-05-20,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8,22,8.0,20.8,22.2,22.4,26.1,31.1
9,20205219,Nguyễn Thanh Oai,2000-05-25,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5,22,6.0,23.9,20.7,23.4,14.2,24.0

In [51]:
data_stu['_A_']=data_stu['A']>=23.5
data_stu['_A1_']=data_stu['A1']>=22
data_stu['_B_']=data_stu['B']>=21.5
data_stu['_C_']=data_stu['C']>=22.5
data_stu['_D_']=data_stu['D']>=27.5
data_stu

,Mã học sinh,Họ tên,Ngày sinh,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,...,A,A1,B,C,D,_A_,_A1_,_B_,_C_,_D_
0,20205210,Nguyễn Đức Bình,2000-03-10,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,...,23.8,23.5,22.6,15.0,28.0,True,True,True,False,True
1,20205211,Lê Minh Hoàng,2001-02-11,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,...,19.3,22.3,18.6,15.9,30.1,False,True,False,False,True
2,20205212,Trần Trang Nhung,2002-07-05,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,...,16.1,16.2,17.6,18.8,22.2,False,False,False,False,False
3,20205213,Nguyễn Thị Linh,2000-12-17,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,...,20.1,19.6,21.5,19.6,27.5,False,False,True,False,True
4,20205214,Đặng Ngọc Sơn,2000-01-25,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,...,22.6,18.9,21.3,18.8,23.4,False,False,False,False,False
5,20205215,Hà Trung Kiên,2000-04-03,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,...,18.2,17.5,16.2,18.2,21.8,False,False,False,False,False
6,20205216,Võ Hoàng Yến,2000-06-21,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,...,20.8,21.1,20.0,24.2,28.6,False,False,False,True,True
7,20205217,Hoàng Trung Sơn,2000-08-27,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,...,23.5,23.0,16.5,14.2,25.7,True,True,False,False,False
8,20205218,Nguyễn Văn Thành,2000-05-20,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,...,20.8,22.2,22.4,26.1,31.1,False,True,True,True,True
9,20205219,Nguyễn Thanh Oai,2000-05-25,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,...,23.9,20.7,23.4,14.2,24.0,True,False,True,False,False

In [52]:
#so sánh điểm trung bình đại học
data_stu[data_stu.columns[13:18]].mean()

Đtb     6.60
A      20.91
A1     20.50
B      20.01
C      18.50
dtype: float64

In [53]:
#Xếp loại học sinh
import numpy as np
xuatsac = (data_stu['Đtb']>=9.0)&(data_stu['Toán']>=8)&(data_stu['Lý']>=8)&(data_stu['Hoá']>=8)&(data_stu['Sinh']>=8)&(data_stu['Văn']>=8)&(data_stu['Sử ']>=8)&(data_stu['Địa']>=8)&(data_stu['Tiếng Anh']>=8)
gioi = (data_stu['Đtb']>=8.0) &(data_stu['Toán']>=6.5)&(data_stu['Lý']>=6.5)&(data_stu['Hoá']>=6.5)&(data_stu['Sinh']>=6.5)&(data_stu['Văn']>=6.5)&(data_stu['Sử ']>=6.5)&(data_stu['Địa']>=6.5)&(data_stu['Tiếng Anh']>=6.5)
trungbinh = (data_stu['Đtb']>=6.0) &(data_stu['Toán']>=4.5)&(data_stu['Lý']>=4.5)&(data_stu['Hoá']>=4.5)&(data_stu['Sinh']>=4.5)&(data_stu['Văn']>=4.5)&(data_stu['Sử ']>=4.5)&(data_stu['Địa']>=4.5)&(data_stu['Tiếng Anh']>=4.5)
kem = data_stu['Đtb'] > 0.0

condition = [xuatsac, gioi, trungbinh, kem]
xl = ['Xuất sắc', 'Giỏi', 'Trung bình', 'Kém']
data_stu['Xếp loại'] = np.select(condition, xl)
data_stu

,Mã học sinh,Họ tên,Ngày sinh,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,...,A1,B,C,D,_A_,_A1_,_B_,_C_,_D_,Xếp loại
0,20205210,Nguyễn Đức Bình,2000-03-10,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,...,23.5,22.6,15.0,28.0,True,True,True,False,True,Kém
1,20205211,Lê Minh Hoàng,2001-02-11,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,...,22.3,18.6,15.9,30.1,False,True,False,False,True,Kém
2,20205212,Trần Trang Nhung,2002-07-05,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,...,16.2,17.6,18.8,22.2,False,False,False,False,False,Kém
3,20205213,Nguyễn Thị Linh,2000-12-17,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,...,19.6,21.5,19.6,27.5,False,False,True,False,True,Trung bình
4,20205214,Đặng Ngọc Sơn,2000-01-25,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,...,18.9,21.3,18.8,23.4,False,False,False,False,False,Kém
5,20205215,Hà Trung Kiên,2000-04-03,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,...,17.5,16.2,18.2,21.8,False,False,False,False,False,Kém
6,20205216,Võ Hoàng Yến,2000-06-21,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,...,21.1,20.0,24.2,28.6,False,False,False,True,True,Trung bình
7,20205217,Hoàng Trung Sơn,2000-08-27,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,...,23.0,16.5,14.2,25.7,True,True,False,False,False,Kém
8,20205218,Nguyễn Văn Thành,2000-05-20,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,...,22.2,22.4,26.1,31.1,False,True,True,True,True,Trung bình
9,20205219,Nguyễn Thanh Oai,2000-05-25,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,...,20.7,23.4,14.2,24.0,True,False,True,False,False,Trung bình