In [1]:
import pandas as pd
import numpy as np
bk=pd.read_csv(r'C:\Users\Admin\resources\bank_transactions.csv',encoding = 'utf-8')
bk

,DAY,MONTH,YEAR,HOURS,FROM_CODE,FROM,TO_CODE,TRANS,MONEY
0,1,5,2022,1:05:23 PM,ACB,Ngân hàng Á Châu,ABBANK,1125,778000000
1,1,5,2022,2:05:23 PM,ABBANK,Ngân hàng An Bình,OceanBank,1245,1254300000
2,1,5,2022,3:05:23 PM,ANZVL,Ngân hàng ANZ Việt Nam,BIDV,1367,2010421000
3,1,5,2022,4:05:23 PM,OceanBank,Ngân hàng Đại Dương,DongABank,1210,1965643000
4,1,5,2022,5:04:23 PM,GPBank,Ngân hàng dầu khí toàn cầu,SeABank,756,854672000
5,1,6,2022,6:05:53 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MSB,2367,1979279000
6,1,6,2022,7:05:43 PM,DongABank,Ngân hàng Đông Á,Vietcombank,875,370324000
7,1,6,2022,8:05:21 PM,SeABank,Ngân Hàng Đông Nam Á,Agribank,1023,1622965000
8,1,6,2022,9:05:28 PM,MSB,Ngân hàng Hàng Hải,HDBank,234,1696364000
9,1,7,2022,10:05:23 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,VIB,1230,335000000
10,2,7,2022,7:10:45 AM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,MB,2021,1405196000
11,2,9,2022,8:14:35 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,SHB,655,424754000
12,2,9,2022,9:50:39 AM,MB,Ngân hàng Quân đội,TPBank,766,1918320000
13,3,9,2022,11:10:45 AM,VIB,Ngân hàng quốc tế,MSB,931,1263343000
14,3,9,2022,9:07:03 AM,SHB,Ngân hàng Sài Gòn - Hà Nội,SeABank,837,1903641000
15,4,10,2022,10:06:03 AM,SCB,Ngân hàng Sài Gòn,BIDV,439,854448000
16,4,10,2022,5:12:33 AM,TPBank,Ngân hàng Tiên Phong,OceanBank,769,985793000
17,4,10,2022,9:07:17 PM,VPBank,Ngân hàng Việt Nam Thịnh Vượng,BIDV,1088,1271324000
18,4,11,2022,1:43:03 PM,OceanBank,Ngân hàng Đại Dương,BIDV,1534,1549094000
19,5,11,2022,2:43:03 PM,GPBank,Ngân hàng dầu khí toàn cầu,DongABank,1431,682468000
20,5,2,2022,3:43:03 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,805,1992725000
21,5,2,2022,4:43:03 PM,DongABank,Ngân hàng Đông Á,Agribank,779,1194962000
22,6,3,2022,5:43:03 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,HDBank,456,1379482000
23,6,4,2022,6:43:03 PM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,VIB,329,1280742000
24,6,4,2022,7:43:03 PM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,984,1539321000
25,7,4,2022,8:43:03 PM,ACB,Ngân hàng Á Châu,BIDV,1103,470747000
26,7,4,2022,9:43:03 PM,ABBANK,Ngân hàng An Bình,DongABank,1100,1366064000
27,9,5,2022,10:43:03 PM,ANZVL,Ngân hàng ANZ Việt Nam,SeABank,1302,1799407000
28,9,5,2022,11:43:03 PM,OceanBank,Ngân hàng Đại Dương,VIB,1417,1168746000
29,9,6,2022,12:43:03 AM,SeABank,Ngân Hàng Đông Nam Á,MB,1572,1692257000
30,9,7,2022,1:43:03 AM,MSB,Ngân hàng Hàng Hải,MB,244,1695602000
31,9,8,2022,2:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,531,1876064000
32,10,9,2022,3:43:03 AM,DongABank,Ngân hàng Đông Á,VIB,726,1418669000
33,10,10,2022,4:43:03 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,211,1155276000
34,10,11,2022,5:43:03 AM,MB,Ngân hàng Quân đội,VIB,653,985498000
35,10,12,2022,6:43:03 AM,VIB,Ngân hàng quốc tế,MB,811,1220723000
36,10,12,2022,7:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,VIB,634,1979311000
37,10,12,2022,8:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MB,932,584653000
38,10,12,2022,9:43:03 AM,MB,Ngân hàng Quân đội,ACB,912,905573000

In [2]:
# Đọc dữ liệu
# Dữ liệu có 39 dòng và 9 cột, không có dữ liệu trống, có các cột hours, from_code, form, to_code là dạng string còn lại là dạng số
bk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DAY        39 non-null     int64
 1   MONTH      39 non-null     int64
 2   YEAR       39 non-null     int64
 3   HOURS      39 non-null     object
 4   FROM_CODE  39 non-null     object
 5   FROM       39 non-null     object
 6   TO_CODE    39 non-null     object
 7   TRANS      39 non-null     int64
 8   MONEY      39 non-null     int64
dtypes: int64(5), object(4)
memory usage: 2.9+ KB

In [3]:
#Giao dịch trong ngày giữa 2 ngân hàng có lượng tiền trung bình trong mỗi giao dịch lớn nhất, bé nhất
bk['AV_MONEY_TRANS']=round(bk['MONEY']/bk['TRANS'],2)
bk['AV_MONEY_TRANS'].max()
print(bk.loc[bk['AV_MONEY_TRANS']==7249418.8])
bk['AV_MONEY_TRANS'].min()
print(bk.loc[bk['AV_MONEY_TRANS']==272357.72])

   DAY  MONTH  YEAR       HOURS FROM_CODE                FROM TO_CODE  TRANS  \
8    1      6  2022  9:05:28 PM       MSB  Ngân hàng Hàng Hải  HDBank    234

        MONEY  AV_MONEY_TRANS
8  1696364000       7249418.8
   DAY  MONTH  YEAR        HOURS    FROM_CODE  \
9    1      7  2022  10:05:23 PM  Vietcombank

                              FROM TO_CODE  TRANS      MONEY  AV_MONEY_TRANS
9  Ngân hàng Ngoại Thương Việt Nam     VIB   1230  335000000       272357.72

In [4]:
#Ngân hàng có số lần giao dịch gửi tiền nhiều nhất trong ngày
bk.groupby(['MONTH','DAY','FROM_CODE'])['TRANS'].sum()
# BIDV có số lần giao dịch gửi tiền là 2367 lần/ ngày vào ngày 01/06/2022

MONTH  DAY  FROM_CODE
2      5    BIDV            805
            DongABank       779
3      6    Vietcombank     456
4      6    Agribank        329
            HDBank          984
       7    ABBANK         1100
            ACB            1103
5      1    ABBANK         1245
            ACB            1125
            ANZVL          1367
            GPBank          756
            OceanBank      1210
       9    ANZVL          1302
            OceanBank      1417
6      1    BIDV           2367
            DongABank       875
            MSB             234
            SeABank        1023
       9    SeABank        1572
7      1    Vietcombank    1230
       2    Agribank       2021
       9    MSB             244
8      9    BIDV            531
9      2    HDBank          655
            MB              766
       3    SHB             837
            VIB             931
       10   DongABank       726
10     4    SCB             439
            TPBank          769
            VPBank         1088
       10   HDBank          211
11     4    OceanBank      1534
       5    GPBank         1431
       10   MB              653
12     10   BIDV           1566
            MB              912
            VIB             811
Name: TRANS, dtype: int64

In [5]:
#Ngân hàng có số lần giao dịch gửi tiền nhiều nhất trong ngày
bk1=bk.pivot_table(index=['MONTH','DAY','FROM_CODE'],values='TRANS',aggfunc='sum')
#Gía trị lớn nhất:
bk1['TRANS'].max()
print(bk1.loc[bk1['TRANS']==2367])
# BIDV có số lần giao dịch gửi tiền là 2367 lần/ ngày vào ngày 01/06/2022

                     TRANS
MONTH DAY FROM_CODE
6     1   BIDV        2367

In [6]:
#Ngân hàng có số lần giao dịch gửi tiền nhiều nhất trong tháng
bk.groupby(['MONTH','FROM_CODE'])['TRANS'].sum()
#Ngân hàng ANZVL có số lần giao dịch gửi tiền nhiều nhất là 2669 lần vào tháng 5

MONTH  FROM_CODE
2      BIDV            805
       DongABank       779
3      Vietcombank     456
4      ABBANK         1100
       ACB            1103
       Agribank        329
       HDBank          984
5      ABBANK         1245
       ACB            1125
       ANZVL          2669
       GPBank          756
       OceanBank      2627
6      BIDV           2367
       DongABank       875
       MSB             234
       SeABank        2595
7      Agribank       2021
       MSB             244
       Vietcombank    1230
8      BIDV            531
9      DongABank       726
       HDBank          655
       MB              766
       SHB             837
       VIB             931
10     HDBank          211
       SCB             439
       TPBank          769
       VPBank         1088
11     GPBank         1431
       MB              653
       OceanBank      1534
12     BIDV           1566
       MB              912
       VIB             811
Name: TRANS, dtype: int64

In [7]:
#Ngân hàng có số lần giao dịch gửi tiền nhiều nhất trong tháng
bk2=bk.pivot_table(index=['MONTH','FROM_CODE'],values='TRANS',aggfunc='sum')
#Gía trị lớn nhất:
bk2['TRANS'].max()
print(bk2.loc[bk2['TRANS']==2669])

                 TRANS
MONTH FROM_CODE
5     ANZVL       2669

In [8]:
#Ngân hàng có số lần giao dịch nhận tiền nhiều nhất trong ngày
bk.groupby(['MONTH','DAY','TO_CODE'])['TRANS'].sum()
#Ngân hàng MSB có số lần giao dịch gửi tiền nhiều nhất là 2367 lần vào ngày 01/06/2022

MONTH  DAY  TO_CODE
2      5    Agribank        779
            SeABank         805
3      6    HDBank          456
4      6    MB              984
            VIB             329
       7    BIDV           1103
            DongABank      1100
5      1    ABBANK         1125
            BIDV           1367
            DongABank      1210
            OceanBank      1245
            SeABank         756
       9    SeABank        1302
            VIB            1417
6      1    Agribank       1023
            HDBank          234
            MSB            2367
            Vietcombank     875
       9    MB             1572
7      1    VIB            1230
       2    MB             2021
       9    MB              244
8      9    SeABank         531
9      2    SHB             655
            TPBank          766
       3    MSB             931
            SeABank         837
       10   VIB             726
10     4    BIDV           1527
            OceanBank       769
       10   MB              211
11     4    BIDV           1534
       5    DongABank      1431
       10   VIB             653
12     10   ACB             912
            MB             1743
            VIB             634
Name: TRANS, dtype: int64

In [9]:
#Ngân hàng có số lần giao dịch nhận tiền nhiều nhất trong ngày
bk3=bk.pivot_table(index=['MONTH','DAY','TO_CODE'],values='TRANS',aggfunc='sum')
#Gía trị lớn nhất:
bk3['TRANS'].max()
print(bk3.loc[bk3['TRANS']==2367])

                   TRANS
MONTH DAY TO_CODE
6     1   MSB       2367

In [10]:
#Ngân hàng có số lần giao dịch nhận tiền nhiều nhất trong tháng
bk.groupby(['MONTH','TO_CODE'])['TRANS'].sum()
#Ngân hàng MSB có số lần giao dịch gửi tiền nhiều nhất là 2367 lần vào tháng 06/2022

MONTH  TO_CODE
2      Agribank        779
       SeABank         805
3      HDBank          456
4      BIDV           1103
       DongABank      1100
       MB              984
       VIB             329
5      ABBANK         1125
       BIDV           1367
       DongABank      1210
       OceanBank      1245
       SeABank        2058
       VIB            1417
6      Agribank       1023
       HDBank          234
       MB             1572
       MSB            2367
       Vietcombank     875
7      MB             2265
       VIB            1230
8      SeABank         531
9      MSB             931
       SHB             655
       SeABank         837
       TPBank          766
       VIB             726
10     BIDV           1527
       MB              211
       OceanBank       769
11     BIDV           1534
       DongABank      1431
       VIB             653
12     ACB             912
       MB             1743
       VIB             634
Name: TRANS, dtype: int64

In [11]:
#Ngân hàng có số lần giao dịch nhận tiền nhiều nhất trong tháng
bk4=bk.pivot_table(index=['MONTH','TO_CODE'],values='TRANS',aggfunc='sum')
#Gía trị lớn nhất:
bk4['TRANS'].max()
print(bk4.loc[bk4['TRANS']==2367])

               TRANS
MONTH TO_CODE
6     MSB       2367

In [12]:
#Cặp ngân hàng có số lần giao dịch qua lại nhiều nhất
bk5=bk.groupby(['TO_CODE','FROM_CODE'],as_index=False)['TRANS'].sum()
bk6=bk.groupby(['FROM_CODE','TO_CODE'],as_index=False)['TRANS'].sum()
bk6.rename(columns={'FROM_CODE':'TO_CODE','TO_CODE':'FROM_CODE'}, inplace=True)
bk6=pd.concat([bk6,bk5],ignore_index=True)
bk7=bk6.pivot_table(index=['TO_CODE','FROM_CODE'],values='TRANS',aggfunc='sum')
bk7['TRANS'].max()
print(bk7.loc[bk7['TRANS']==2367])

                   TRANS
TO_CODE FROM_CODE
BIDV    MSB         2367
MSB     BIDV        2367

In [13]:
#j={'TO_CODE':[],'TRANS':[]}
#for i in bk['FROM_CODE'].unique():
    #if i not in dict(bk5['TO_CODE']).values():
        #j['TO_CODE'].append(i)
        #j['TRANS'].append(0)

In [14]:
#Tổng số giao dịch trong từng tháng của các ngân hàng
bk8=bk.groupby(['FROM_CODE','MONTH'],as_index=False)['TRANS'].sum()
bk9=bk.groupby(['TO_CODE','MONTH'],as_index=False)['TRANS'].sum()
bk9.rename(columns={'TO_CODE':'FROM_CODE'}, inplace=True)
bk9=pd.concat([bk9,bk8],ignore_index=True)
bk10=bk9.groupby(['FROM_CODE','MONTH'],as_index=False)['TRANS'].sum()
print(bk10.loc[bk10['FROM_CODE']=='BIDV'])

   FROM_CODE  MONTH  TRANS
10      BIDV      2    805
11      BIDV      4   1103
12      BIDV      5   1367
13      BIDV      6   2367
14      BIDV      8    531
15      BIDV     10   1527
16      BIDV     11   1534
17      BIDV     12   1566

In [15]:
#Tính số giao dịch gửi tiền đi trong từng ngày của một ngân hàng nào đó
bk.groupby(['FROM_CODE','MONTH','DAY'])['TRANS'].sum()

FROM_CODE    MONTH  DAY
ABBANK       4      7      1100
             5      1      1245
ACB          4      7      1103
             5      1      1125
ANZVL        5      1      1367
                    9      1302
Agribank     4      6       329
             7      2      2021
BIDV         2      5       805
             6      1      2367
             8      9       531
             12     10     1566
DongABank    2      5       779
             6      1       875
             9      10      726
GPBank       5      1       756
             11     5      1431
HDBank       4      6       984
             9      2       655
             10     10      211
MB           9      2       766
             11     10      653
             12     10      912
MSB          6      1       234
             7      9       244
OceanBank    5      1      1210
                    9      1417
             11     4      1534
SCB          10     4       439
SHB          9      3       837
SeABank      6      1      1023
                    9      1572
TPBank       10     4       769
VIB          9      3       931
             12     10      811
VPBank       10     4      1088
Vietcombank  3      6       456
             7      1      1230
Name: TRANS, dtype: int64

In [16]:
#Tính số giao dịch nhận tiền trong từng ngày của một ngân hàng nào đó
bk.groupby(['TO_CODE','MONTH','DAY'])['TRANS'].sum()

TO_CODE      MONTH  DAY
ABBANK       5      1      1125
ACB          12     10      912
Agribank     2      5       779
             6      1      1023
BIDV         4      7      1103
             5      1      1367
             10     4      1527
             11     4      1534
DongABank    4      7      1100
             5      1      1210
             11     5      1431
HDBank       3      6       456
             6      1       234
MB           4      6       984
             6      9      1572
             7      2      2021
                    9       244
             10     10      211
             12     10     1743
MSB          6      1      2367
             9      3       931
OceanBank    5      1      1245
             10     4       769
SHB          9      2       655
SeABank      2      5       805
             5      1       756
                    9      1302
             8      9       531
             9      3       837
TPBank       9      2       766
VIB          4      6       329
             5      9      1417
             7      1      1230
             9      10      726
             11     10      653
             12     10      634
Vietcombank  6      1       875
Name: TRANS, dtype: int64

In [27]:
#Tống số giao dịch gửi tiền đi, nhận về của các ngân hàng trong các tháng
bk11=bk.groupby(['FROM_CODE','MONTH'],as_index=False)['TRANS'].sum()
bk11.rename(columns={'FROM_CODE':'CODE','TRANS':'SEND'}, inplace=True)
bk12=bk.groupby(['TO_CODE','MONTH'],as_index=False)['TRANS'].sum()
bk12.rename(columns={'TO_CODE':'CODE','TRANS':'RECEIVED'}, inplace=True)
#Ngân hàng tháng có cả giao dịch gửi và nhận tiền:
bk13=pd.merge(bk11,bk12)

#khác
bk14=pd.merge(bk11,bk12,on=['CODE'])
bk14.head(60)

         CODE  MONTH_x  SEND  MONTH_y  RECEIVED
0      ABBANK        4  1100        5      1125
1      ABBANK        5  1245        5      1125
2         ACB        4  1103       12       912
3         ACB        5  1125       12       912
4    Agribank        4   329        2       779
5    Agribank        4   329        6      1023
6    Agribank        7  2021        2       779
7    Agribank        7  2021        6      1023
8        BIDV        2   805        4      1103
9        BIDV        2   805        5      1367
10       BIDV        2   805       10      1527
11       BIDV        2   805       11      1534
12       BIDV        6  2367        4      1103
13       BIDV        6  2367        5      1367
14       BIDV        6  2367       10      1527
15       BIDV        6  2367       11      1534
16       BIDV        8   531        4      1103
17       BIDV        8   531        5      1367
18       BIDV        8   531       10      1527
19       BIDV        8   531       11      1534
20       BIDV       12  1566        4      1103
21       BIDV       12  1566        5      1367
22       BIDV       12  1566       10      1527
23       BIDV       12  1566       11      1534
24  DongABank        2   779        4      1100
25  DongABank        2   779        5      1210
26  DongABank        2   779       11      1431
27  DongABank        6   875        4      1100
28  DongABank        6   875        5      1210
29  DongABank        6   875       11      1431
30  DongABank        9   726        4      1100
31  DongABank        9   726        5      1210
32  DongABank        9   726       11      1431
33     HDBank        4   984        3       456
34     HDBank        4   984        6       234
35     HDBank        9   655        3       456
36     HDBank        9   655        6       234
37     HDBank       10   211        3       456
38     HDBank       10   211        6       234
39         MB        9   766        4       984
40         MB        9   766        6      1572
41         MB        9   766        7      2265
42         MB        9   766       10       211
43         MB        9   766       12      1743
44         MB       11   653        4       984
45         MB       11   653        6      1572
46         MB       11   653        7      2265
47         MB       11   653       10       211
48         MB       11   653       12      1743
49         MB       12   912        4       984
50         MB       12   912        6      1572
51         MB       12   912        7      2265
52         MB       12   912       10       211
53         MB       12   912       12      1743
54        MSB        6   234        6      2367
55        MSB        6   234        9       931
56        MSB        7   244        6      2367
57        MSB        7   244        9       931
58  OceanBank        5  2627        5      1245
59  OceanBank        5  2627       10       769

In [18]:
#Khung AM/PM
bk['AM/PM']= bk['HOURS'].str[-2:-1]
bk

,DAY,MONTH,YEAR,HOURS,FROM_CODE,FROM,TO_CODE,TRANS,MONEY,AV_MONEY_TRANS,AM/PM
0,1,5,2022,1:05:23 PM,ACB,Ngân hàng Á Châu,ABBANK,1125,778000000,691555.56,P
1,1,5,2022,2:05:23 PM,ABBANK,Ngân hàng An Bình,OceanBank,1245,1254300000,1007469.88,P
2,1,5,2022,3:05:23 PM,ANZVL,Ngân hàng ANZ Việt Nam,BIDV,1367,2010421000,1470681.05,P
3,1,5,2022,4:05:23 PM,OceanBank,Ngân hàng Đại Dương,DongABank,1210,1965643000,1624498.35,P
4,1,5,2022,5:04:23 PM,GPBank,Ngân hàng dầu khí toàn cầu,SeABank,756,854672000,1130518.52,P
5,1,6,2022,6:05:53 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MSB,2367,1979279000,836197.30,P
6,1,6,2022,7:05:43 PM,DongABank,Ngân hàng Đông Á,Vietcombank,875,370324000,423227.43,P
7,1,6,2022,8:05:21 PM,SeABank,Ngân Hàng Đông Nam Á,Agribank,1023,1622965000,1586476.05,P
8,1,6,2022,9:05:28 PM,MSB,Ngân hàng Hàng Hải,HDBank,234,1696364000,7249418.80,P
9,1,7,2022,10:05:23 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,VIB,1230,335000000,272357.72,P
10,2,7,2022,7:10:45 AM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,MB,2021,1405196000,695297.38,A
11,2,9,2022,8:14:35 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,SHB,655,424754000,648479.39,A
12,2,9,2022,9:50:39 AM,MB,Ngân hàng Quân đội,TPBank,766,1918320000,2504334.20,A
13,3,9,2022,11:10:45 AM,VIB,Ngân hàng quốc tế,MSB,931,1263343000,1356974.22,A
14,3,9,2022,9:07:03 AM,SHB,Ngân hàng Sài Gòn - Hà Nội,SeABank,837,1903641000,2274362.01,A
15,4,10,2022,10:06:03 AM,SCB,Ngân hàng Sài Gòn,BIDV,439,854448000,1946350.80,A
16,4,10,2022,5:12:33 AM,TPBank,Ngân hàng Tiên Phong,OceanBank,769,985793000,1281915.47,A
17,4,10,2022,9:07:17 PM,VPBank,Ngân hàng Việt Nam Thịnh Vượng,BIDV,1088,1271324000,1168496.32,P
18,4,11,2022,1:43:03 PM,OceanBank,Ngân hàng Đại Dương,BIDV,1534,1549094000,1009839.63,P
19,5,11,2022,2:43:03 PM,GPBank,Ngân hàng dầu khí toàn cầu,DongABank,1431,682468000,476916.84,P
20,5,2,2022,3:43:03 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,805,1992725000,2475434.78,P
21,5,2,2022,4:43:03 PM,DongABank,Ngân hàng Đông Á,Agribank,779,1194962000,1533969.19,P
22,6,3,2022,5:43:03 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,HDBank,456,1379482000,3025179.82,P
23,6,4,2022,6:43:03 PM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,VIB,329,1280742000,3892832.83,P
24,6,4,2022,7:43:03 PM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,984,1539321000,1564350.61,P
25,7,4,2022,8:43:03 PM,ACB,Ngân hàng Á Châu,BIDV,1103,470747000,426787.85,P
26,7,4,2022,9:43:03 PM,ABBANK,Ngân hàng An Bình,DongABank,1100,1366064000,1241876.36,P
27,9,5,2022,10:43:03 PM,ANZVL,Ngân hàng ANZ Việt Nam,SeABank,1302,1799407000,1382033.03,P
28,9,5,2022,11:43:03 PM,OceanBank,Ngân hàng Đại Dương,VIB,1417,1168746000,824803.11,P
29,9,6,2022,12:43:03 AM,SeABank,Ngân Hàng Đông Nam Á,MB,1572,1692257000,1076499.36,A
30,9,7,2022,1:43:03 AM,MSB,Ngân hàng Hàng Hải,MB,244,1695602000,6949188.52,A
31,9,8,2022,2:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,531,1876064000,3533077.21,A
32,10,9,2022,3:43:03 AM,DongABank,Ngân hàng Đông Á,VIB,726,1418669000,1954089.53,A
33,10,10,2022,4:43:03 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,211,1155276000,5475241.71,A
34,10,11,2022,5:43:03 AM,MB,Ngân hàng Quân đội,VIB,653,985498000,1509185.30,A
35,10,12,2022,6:43:03 AM,VIB,Ngân hàng quốc tế,MB,811,1220723000,1505207.15,A
36,10,12,2022,7:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,VIB,634,1979311000,3121941.64,A
37,10,12,2022,8:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MB,932,584653000,627310.09,A
38,10,12,2022,9:43:03 AM,MB,Ngân hàng Quân đội,ACB,912,905573000,992952.85,A

In [19]:
#Tống số giao dịch gửi tiền đi của các ngân hàng theo khung giờ AM/PM
bk.groupby(['FROM_CODE','AM/PM'])['TRANS'].sum()

FROM_CODE    AM/PM
ABBANK       P        2345
ACB          P        2228
ANZVL        P        2669
Agribank     A        2021
             P         329
BIDV         A        2097
             P        3172
DongABank    A         726
             P        1654
GPBank       P        2187
HDBank       A         866
             P         984
MB           A        2331
MSB          A         244
             P         234
OceanBank    P        4161
SCB          A         439
SHB          A         837
SeABank      A        1572
             P        1023
TPBank       A         769
VIB          A        1742
VPBank       P        1088
Vietcombank  P        1686
Name: TRANS, dtype: int64

In [20]:
#Tống số giao dịch nhận tiền của các ngân hàng theo khung giờ AM/PM
bk.pivot_table('TRANS',index='FROM_CODE',columns='AM/PM',aggfunc='sum')

AM/PM             A       P
FROM_CODE
ABBANK          NaN  2345.0
ACB             NaN  2228.0
ANZVL           NaN  2669.0
Agribank     2021.0   329.0
BIDV         2097.0  3172.0
DongABank     726.0  1654.0
GPBank          NaN  2187.0
HDBank        866.0   984.0
MB           2331.0     NaN
MSB           244.0   234.0
OceanBank       NaN  4161.0
SCB           439.0     NaN
SHB           837.0     NaN
SeABank      1572.0  1023.0
TPBank        769.0     NaN
VIB          1742.0     NaN
VPBank          NaN  1088.0
Vietcombank     NaN  1686.0

In [28]:
#bk1=bk['FROM_CODE'].unique()
#bk1

In [36]:
#Tổng số giao dịch theo khung giờ của các ngân hàng
bk15=bk.groupby(['FROM_CODE','AM/PM'],as_index=False)['TRANS'].sum()
bk16=bk.groupby(['TO_CODE','AM/PM'],as_index=False)['TRANS'].sum()
bk16.rename(columns={'TO_CODE':'FROM_CODE'}, inplace=True)
bk16=pd.concat([bk16,bk15],ignore_index=True)
bk16.groupby(['FROM_CODE','AM/PM'],as_index=False)['TRANS'].sum()

      FROM_CODE AM/PM  TRANS
0        ABBANK     P   3470
1           ACB     A    912
2           ACB     P   2228
3         ANZVL     P   2669
4      Agribank     A   2021
5      Agribank     P   2131
6          BIDV     A   2536
7          BIDV     P   8264
8     DongABank     A    726
9     DongABank     P   5395
10       GPBank     P   2187
11       HDBank     A    866
12       HDBank     P   1674
13           MB     A   8122
14           MB     P    984
15          MSB     A   1175
16          MSB     P   2601
17    OceanBank     A    769
18    OceanBank     P   5406
19          SCB     A    439
20          SHB     A   1492
21      SeABank     A   2940
22      SeABank     P   3886
23       TPBank     A   1535
24          VIB     A   3755
25          VIB     P   2976
26       VPBank     P   1088
27  Vietcombank     P   2561

In [37]:
for i in bk1:
        sum_bk[i]=bk.loc[((bk['FROM_CODE']==i)|(bk['TO_CODE']==i))&(bk['MONTH']==2),'TRANS'].sum()
sum_bk

NameError: name 'sum_bk' is not defined

In [58]:
import datetime
bk['TIME']= pd.to_datetime(bk['HOURS']).dt.time
bk

,DAY,MONTH,YEAR,HOURS,FROM_CODE,FROM,TO_CODE,TRANS,MONEY,AV_MONEY_TRANS,AM/PM,TIME
0,1,5,2022,1:05:23 PM,ACB,Ngân hàng Á Châu,ABBANK,1125,778000000,691555.56,P,13:05:23
1,1,5,2022,2:05:23 PM,ABBANK,Ngân hàng An Bình,OceanBank,1245,1254300000,1007469.88,P,14:05:23
2,1,5,2022,3:05:23 PM,ANZVL,Ngân hàng ANZ Việt Nam,BIDV,1367,2010421000,1470681.05,P,15:05:23
3,1,5,2022,4:05:23 PM,OceanBank,Ngân hàng Đại Dương,DongABank,1210,1965643000,1624498.35,P,16:05:23
4,1,5,2022,5:04:23 PM,GPBank,Ngân hàng dầu khí toàn cầu,SeABank,756,854672000,1130518.52,P,17:04:23
5,1,6,2022,6:05:53 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MSB,2367,1979279000,836197.30,P,18:05:53
6,1,6,2022,7:05:43 PM,DongABank,Ngân hàng Đông Á,Vietcombank,875,370324000,423227.43,P,19:05:43
7,1,6,2022,8:05:21 PM,SeABank,Ngân Hàng Đông Nam Á,Agribank,1023,1622965000,1586476.05,P,20:05:21
8,1,6,2022,9:05:28 PM,MSB,Ngân hàng Hàng Hải,HDBank,234,1696364000,7249418.80,P,21:05:28
9,1,7,2022,10:05:23 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,VIB,1230,335000000,272357.72,P,22:05:23
10,2,7,2022,7:10:45 AM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,MB,2021,1405196000,695297.38,A,07:10:45
11,2,9,2022,8:14:35 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,SHB,655,424754000,648479.39,A,08:14:35
12,2,9,2022,9:50:39 AM,MB,Ngân hàng Quân đội,TPBank,766,1918320000,2504334.20,A,09:50:39
13,3,9,2022,11:10:45 AM,VIB,Ngân hàng quốc tế,MSB,931,1263343000,1356974.22,A,11:10:45
14,3,9,2022,9:07:03 AM,SHB,Ngân hàng Sài Gòn - Hà Nội,SeABank,837,1903641000,2274362.01,A,09:07:03
15,4,10,2022,10:06:03 AM,SCB,Ngân hàng Sài Gòn,BIDV,439,854448000,1946350.80,A,10:06:03
16,4,10,2022,5:12:33 AM,TPBank,Ngân hàng Tiên Phong,OceanBank,769,985793000,1281915.47,A,05:12:33
17,4,10,2022,9:07:17 PM,VPBank,Ngân hàng Việt Nam Thịnh Vượng,BIDV,1088,1271324000,1168496.32,P,21:07:17
18,4,11,2022,1:43:03 PM,OceanBank,Ngân hàng Đại Dương,BIDV,1534,1549094000,1009839.63,P,13:43:03
19,5,11,2022,2:43:03 PM,GPBank,Ngân hàng dầu khí toàn cầu,DongABank,1431,682468000,476916.84,P,14:43:03
20,5,2,2022,3:43:03 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,805,1992725000,2475434.78,P,15:43:03
21,5,2,2022,4:43:03 PM,DongABank,Ngân hàng Đông Á,Agribank,779,1194962000,1533969.19,P,16:43:03
22,6,3,2022,5:43:03 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,HDBank,456,1379482000,3025179.82,P,17:43:03
23,6,4,2022,6:43:03 PM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,VIB,329,1280742000,3892832.83,P,18:43:03
24,6,4,2022,7:43:03 PM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,984,1539321000,1564350.61,P,19:43:03
25,7,4,2022,8:43:03 PM,ACB,Ngân hàng Á Châu,BIDV,1103,470747000,426787.85,P,20:43:03
26,7,4,2022,9:43:03 PM,ABBANK,Ngân hàng An Bình,DongABank,1100,1366064000,1241876.36,P,21:43:03
27,9,5,2022,10:43:03 PM,ANZVL,Ngân hàng ANZ Việt Nam,SeABank,1302,1799407000,1382033.03,P,22:43:03
28,9,5,2022,11:43:03 PM,OceanBank,Ngân hàng Đại Dương,VIB,1417,1168746000,824803.11,P,23:43:03
29,9,6,2022,12:43:03 AM,SeABank,Ngân Hàng Đông Nam Á,MB,1572,1692257000,1076499.36,A,00:43:03
30,9,7,2022,1:43:03 AM,MSB,Ngân hàng Hàng Hải,MB,244,1695602000,6949188.52,A,01:43:03
31,9,8,2022,2:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,531,1876064000,3533077.21,A,02:43:03
32,10,9,2022,3:43:03 AM,DongABank,Ngân hàng Đông Á,VIB,726,1418669000,1954089.53,A,03:43:03
33,10,10,2022,4:43:03 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,211,1155276000,5475241.71,A,04:43:03
34,10,11,2022,5:43:03 AM,MB,Ngân hàng Quân đội,VIB,653,985498000,1509185.30,A,05:43:03
35,10,12,2022,6:43:03 AM,VIB,Ngân hàng quốc tế,MB,811,1220723000,1505207.15,A,06:43:03
36,10,12,2022,7:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,VIB,634,1979311000,3121941.64,A,07:43:03
37,10,12,2022,8:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MB,932,584653000,627310.09,A,08:43:03
38,10,12,2022,9:43:03 AM,MB,Ngân hàng Quân đội,ACB,912,905573000,992952.85,A,09:43:03

In [48]:
bk['TIME'][2].hour()

TypeError: 'int' object is not callable

In [60]:
khung_gio=[]
for i in range (0,39):
    if bk['TIME'][i].hour <12:
        khung_gio.append('frame1')
    elif bk['TIME'][i].hour <18:
        khung_gio.append('frame2')
    else:
        khung_gio.append('frame3')
bk['FRAME']=khung_gio

,DAY,MONTH,YEAR,HOURS,FROM_CODE,FROM,TO_CODE,TRANS,MONEY,AV_MONEY_TRANS,AM/PM,TIME,FRAME
0,1,5,2022,1:05:23 PM,ACB,Ngân hàng Á Châu,ABBANK,1125,778000000,691555.56,P,13:05:23,frame2
1,1,5,2022,2:05:23 PM,ABBANK,Ngân hàng An Bình,OceanBank,1245,1254300000,1007469.88,P,14:05:23,frame2
2,1,5,2022,3:05:23 PM,ANZVL,Ngân hàng ANZ Việt Nam,BIDV,1367,2010421000,1470681.05,P,15:05:23,frame2
3,1,5,2022,4:05:23 PM,OceanBank,Ngân hàng Đại Dương,DongABank,1210,1965643000,1624498.35,P,16:05:23,frame2
4,1,5,2022,5:04:23 PM,GPBank,Ngân hàng dầu khí toàn cầu,SeABank,756,854672000,1130518.52,P,17:04:23,frame2
5,1,6,2022,6:05:53 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MSB,2367,1979279000,836197.30,P,18:05:53,frame3
6,1,6,2022,7:05:43 PM,DongABank,Ngân hàng Đông Á,Vietcombank,875,370324000,423227.43,P,19:05:43,frame3
7,1,6,2022,8:05:21 PM,SeABank,Ngân Hàng Đông Nam Á,Agribank,1023,1622965000,1586476.05,P,20:05:21,frame3
8,1,6,2022,9:05:28 PM,MSB,Ngân hàng Hàng Hải,HDBank,234,1696364000,7249418.80,P,21:05:28,frame3
9,1,7,2022,10:05:23 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,VIB,1230,335000000,272357.72,P,22:05:23,frame3
10,2,7,2022,7:10:45 AM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,MB,2021,1405196000,695297.38,A,07:10:45,frame1
11,2,9,2022,8:14:35 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,SHB,655,424754000,648479.39,A,08:14:35,frame1
12,2,9,2022,9:50:39 AM,MB,Ngân hàng Quân đội,TPBank,766,1918320000,2504334.20,A,09:50:39,frame1
13,3,9,2022,11:10:45 AM,VIB,Ngân hàng quốc tế,MSB,931,1263343000,1356974.22,A,11:10:45,frame1
14,3,9,2022,9:07:03 AM,SHB,Ngân hàng Sài Gòn - Hà Nội,SeABank,837,1903641000,2274362.01,A,09:07:03,frame1
15,4,10,2022,10:06:03 AM,SCB,Ngân hàng Sài Gòn,BIDV,439,854448000,1946350.80,A,10:06:03,frame1
16,4,10,2022,5:12:33 AM,TPBank,Ngân hàng Tiên Phong,OceanBank,769,985793000,1281915.47,A,05:12:33,frame1
17,4,10,2022,9:07:17 PM,VPBank,Ngân hàng Việt Nam Thịnh Vượng,BIDV,1088,1271324000,1168496.32,P,21:07:17,frame3
18,4,11,2022,1:43:03 PM,OceanBank,Ngân hàng Đại Dương,BIDV,1534,1549094000,1009839.63,P,13:43:03,frame2
19,5,11,2022,2:43:03 PM,GPBank,Ngân hàng dầu khí toàn cầu,DongABank,1431,682468000,476916.84,P,14:43:03,frame2
20,5,2,2022,3:43:03 PM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,805,1992725000,2475434.78,P,15:43:03,frame2
21,5,2,2022,4:43:03 PM,DongABank,Ngân hàng Đông Á,Agribank,779,1194962000,1533969.19,P,16:43:03,frame2
22,6,3,2022,5:43:03 PM,Vietcombank,Ngân hàng Ngoại Thương Việt Nam,HDBank,456,1379482000,3025179.82,P,17:43:03,frame2
23,6,4,2022,6:43:03 PM,Agribank,Ngân hàng NN&PT Nông thôn Việt Nam,VIB,329,1280742000,3892832.83,P,18:43:03,frame3
24,6,4,2022,7:43:03 PM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,984,1539321000,1564350.61,P,19:43:03,frame3
25,7,4,2022,8:43:03 PM,ACB,Ngân hàng Á Châu,BIDV,1103,470747000,426787.85,P,20:43:03,frame3
26,7,4,2022,9:43:03 PM,ABBANK,Ngân hàng An Bình,DongABank,1100,1366064000,1241876.36,P,21:43:03,frame3
27,9,5,2022,10:43:03 PM,ANZVL,Ngân hàng ANZ Việt Nam,SeABank,1302,1799407000,1382033.03,P,22:43:03,frame3
28,9,5,2022,11:43:03 PM,OceanBank,Ngân hàng Đại Dương,VIB,1417,1168746000,824803.11,P,23:43:03,frame3
29,9,6,2022,12:43:03 AM,SeABank,Ngân Hàng Đông Nam Á,MB,1572,1692257000,1076499.36,A,00:43:03,frame1
30,9,7,2022,1:43:03 AM,MSB,Ngân hàng Hàng Hải,MB,244,1695602000,6949188.52,A,01:43:03,frame1
31,9,8,2022,2:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,SeABank,531,1876064000,3533077.21,A,02:43:03,frame1
32,10,9,2022,3:43:03 AM,DongABank,Ngân hàng Đông Á,VIB,726,1418669000,1954089.53,A,03:43:03,frame1
33,10,10,2022,4:43:03 AM,HDBank,Ngân hàng Phát triển TP Hồ Chí Minh,MB,211,1155276000,5475241.71,A,04:43:03,frame1
34,10,11,2022,5:43:03 AM,MB,Ngân hàng Quân đội,VIB,653,985498000,1509185.30,A,05:43:03,frame1
35,10,12,2022,6:43:03 AM,VIB,Ngân hàng quốc tế,MB,811,1220723000,1505207.15,A,06:43:03,frame1
36,10,12,2022,7:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,VIB,634,1979311000,3121941.64,A,07:43:03,frame1
37,10,12,2022,8:43:03 AM,BIDV,Ngân hàng Đầu tư và Phát triển Việt Nam,MB,932,584653000,627310.09,A,08:43:03,frame1
38,10,12,2022,9:43:03 AM,MB,Ngân hàng Quân đội,ACB,912,905573000,992952.85,A,09:43:03,frame1

In [61]:
#Tính số giao dịch trong tháng theo 3 khung thời gian
bk.groupby(['FRAME'],as_index=False)['TRANS'].sum()

    FRAME  TRANS
0  frame1  13644
1  frame2  10708
2  frame3  13052

In [53]:
bk['TIME'][2].hour

15