In [4]:
import pyodbc
import pandas as pd

In [5]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=MSI\SQLEXPRESS;'
                      'Database=COVID19;'
                      'Trusted_Connection=yes;')
conn

In [6]:
#chuyển thành dạng pandas
data = pd.read_sql('SELECT top (5) * FROM vn_covid',conn)
data

C:\Users\Admin\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   id     province  infected  active  recovered  deaths
0   1       Ha Noi       945     407        518      20
1   2     Ha Giang         4       1          3       0
2   3     Cao Bang         0       0          0       0
3   4      Bac Kan         6       6          0       0
4   5  Tuyen Quang         1       0          1       0

In [7]:
data = pd.read_sql_query('SELECT top (5) * FROM vn_covid',conn)
data

C:\Users\Admin\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   id     province  infected  active  recovered  deaths
0   1       Ha Noi       945     407        518      20
1   2     Ha Giang         4       1          3       0
2   3     Cao Bang         0       0          0       0
3   4      Bac Kan         6       6          0       0
4   5  Tuyen Quang         1       0          1       0