In [20]:
import pandas as pd
data = pd.read_csv(r'C:\Users\Admin\resources\FoodPrice_in_Turkey.csv',encoding = 'ISO-8859-1')
data.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [2]:
data.to_csv('demo_FoodPrice.csv')

In [3]:
data.to_excel('demo_FoodPrice.xlsx')

In [5]:
data.to_json('demo_FoodPrice.json',orient='columns')

In [6]:
data.to_hdf('demo_FoodPrice.h5', 'table')

In [7]:
data.to_html('demo_FoodPrice.html')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [3]:
#Bộ dữ liệu chứa 7381 dòng dữ liệu và 8 cột
#Place, ProductName,UmName: là thuộc tính định tính, có thang đo định danh
#ProductId mặc dù có kiểu số nguyên (int64), nhưng các con số này chỉ có ý nghĩa phân biệt hàng này với hàng khác –> thuộc tính định danh
#Month,Year dữ liệu dạng số nguyên (int64) mô tả tháng, năm quan sát, những thuộc tính này chỉ dùng để định danh, phân biệt giữa tháng, năm khác nhau
#Price: thuộc tính định lượng, thang đo ratio

In [7]:
#Giá trung bình cho từng loại thực phẩm
data.groupby(['ProductId','ProductName'])['Price'].mean()

ProductId  ProductName
52         Rice - Retail                                               7.950325
58         Wheat flour - Retail                                        3.253174
66         Beans (white) - Retail                                      9.572830
83         Potatoes - Retail                                           2.297231
92         Eggs - Retail                                               0.505925
94         Meat (chicken) - Retail                                     9.683471
97         Sugar - Retail                                              4.482942
105        Garlic - Retail                                            16.610370
108        Lentils - Retail                                            6.651817
112        Pasta - Retail                                              3.496637
114        Tomatoes - Retail                                           3.393658
119        Groundnuts (shelled) - Retail                              21.832122
124        Bread (common) - Retail                                     4.463293
151        Coffee - Retail                                            42.468075
173        Onions - Retail                                             2.141539
176        Tea (green) - Retail                                        4.137000
181        Cabbage - Retail                                            1.723395
183        Meat (mutton) - Retail                                     45.557209
184        Oil (sunflower) - Retail                                    8.755174
185        Salt - Retail                                               2.048213
209        Coffee (instant) - Retail                                  43.295493
212        Peas (green, dry) - Retail                                  2.900029
229        Apples (red) - Retail                                       2.392193
231        Cauliflower - Retail                                        3.274868
233        Cucumbers (greenhouse) - Retail                             2.206807
239        Oil (olive) - Retail                                       27.274547
244        Chickpeas - Retail                                         10.347860
254        Bananas - Retail                                            8.224784
258        Bulgur - Retail                                             3.516712
281        Tea - Retail                                               26.224393
285        Fuel (petrol-gasoline) - Retail                             8.592519
304        Transport (public) - Retail                                 2.468031
317        Tomatoes (paste) - Retail                                   8.085128
341        Fuel (gas) - Retail                                        83.976703
345        Apples - Retail                                             3.885039
360        Oranges - Retail                                            3.124280
364        Yogurt - Retail                                             5.364898
384        Bread (pita) - Retail                                       2.404545
388        Cucumbers - Retail                                          3.411326
401        Fish (fresh) - Retail                                      22.698257
404        Spinach - Retail                                            3.240587
414        Cheese - Retail                                            25.522875
433        Meat (veal) - Retail                                       41.270904
434        Eggplants - Retail                                          3.882645
442        Milk (powder, infant formula) - Retail                    108.287696
450        Zucchini - Retail                                           3.837423
463        Milk (pasteurized) - Retail                                 3.679687
465        Wage (non-qualified labour, non-agricultural) - Retail     40.548182
491        Electricity - Retail                                        0.513580
492        Tea (herbal) - Retail                                       5.434838
493        Water - Retail                                              5.384253
502        Cocoa (powder) - Retail                                    43.802339
Name: Price, dtype: float64

In [ ]:
#Đề xuất: giá cao nhất, thấp nhất, biến động giá

In [9]:
#Đổi tên cột
data.rename(columns={'Place':'Địa điểm','ProductName':'Tên SP'},inplace=True)
data.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [10]:
#Thêm cột mới với tất cả các giá trị rỗng NaN
data['new_column'] = 'NaN'
data.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,new_column
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN

In [11]:
# Thêm cột giảm giá 10% cho tất cả các bản ghi
# Cách 1: Gán tên cột dưới dạng một chuỗi và thêm giá trị cho cột đó

data['Giảm giá']= pd.Series('10%', index=data.index)
data.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,new_column,Giảm giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN,10%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN,10%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN,10%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN,10%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN,10%

In [12]:
# Thêm cột giảm giá 12% cho tất cả các bản ghi
# Cách 2: Sử dụng phương thức insert() gồm 3 đối số
# - đối số đầu tiên là chỉ mục (vị trí) muốn chèn cột mới (chỉ mục là 10--> cột mới được thêm vào vị trí 11 của DataFrame)
# - đối số thứ hai là tên của cột mới muốn chèn 
# - đối số thứ ba giá trị của cột

data.insert(10,'Giảm giá 2',pd.Series('12%', index=data.index))
data.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,new_column,Giảm giá,Giảm giá 2
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN,10%,12%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN,10%,12%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN,10%,12%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN,10%,12%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN,10%,12%

In [13]:
#Thêm một dòng mới
# Sử dụng phương thức append() thêm một dòng vào cuối DataFrame

data=data.append({'Địa điểm':'NA','ProductId':'RR','Tên SP':'Rice','UmId':10,'UmName':'KG','Month':6,'Year':2021,'Price':84.3785,'Giảm giá':'10%','Giảm giá 2':'12%'},ignore_index=True)
# Hiển thị 5 bản ghi cuối
data.tail()

C:\Users\Admin\AppData\Local\Temp\ipykernel_17904\172510624.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=data.append({'Địa điểm':'NA','ProductId':'RR','Tên SP':'Rice','UmId':10,'UmName':'KG','Month':6,'Year':2021,'Price':84.3785,'Giảm giá':'10%','Giảm giá 2':'12%'},ignore_index=True)

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,new_column,Giảm giá,Giảm giá 2
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN,10%,12%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN,10%,12%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN,10%,12%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN,10%,12%
7381,NA,RR,Rice,10,KG,6,2021,84.3785,NaN,10%,12%

In [14]:
#Xóa một cột sử dụng hàm del
del data['new_column']
data.head()

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,Giảm giá,Giảm giá 2
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,10%,12%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,10%,12%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,10%,12%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,10%,12%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,10%,12%

In [15]:
# Xóa một cột sử dụng phương thức pop()
# Phương thức pop trả về cột đã xóa

data.pop('Giảm giá 2')

0       12%
1       12%
2       12%
3       12%
4       12%
       ...
7377    12%
7378    12%
7379    12%
7380    12%
7381    12%
Name: Giảm giá 2, Length: 7382, dtype: object

In [16]:
# Xóa một cột sử dụng phương thức drop() 
# Cú pháp: df.drop('column_name', axis=1, inplace=True)
# Trong đó axis = 1 là xóa cột; inplace = True xóa trục tiếp trên dữ liệu gốc mà không phải tạo bản sao

data.drop('Giảm giá', axis=1, inplace=True)
data

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071
7381,NA,RR,Rice,10,KG,6,2021,84.3785

In [17]:
# Xóa nhiều cột sử dụng phương thức drop()
data.drop(['Month','Year'], axis=1, inplace=True)
data

,Địa điểm,ProductId,Tên SP,UmId,UmName,Price
0,National Average,52,Rice - Retail,5,KG,4.4920
1,National Average,52,Rice - Retail,5,KG,4.5786
2,National Average,52,Rice - Retail,5,KG,4.7865
3,National Average,52,Rice - Retail,5,KG,5.1337
4,National Average,52,Rice - Retail,5,KG,5.5099
...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,51.6071
7381,NA,RR,Rice,10,KG,84.3785

In [18]:
#Xóa các dòng trong DataFrame
# Cú pháp: df.drop(Chỉ số dòng cần xóa, axis=0, inplace=True)
# axis = 0 là giá trị mặc định có thể viết tường minh hoặc không
# Xóa dòng có chỉ số 1 (dòng thứ 2) sử dụng phương thức drop()

data.drop(1, axis = 0, inplace=True)
data

,Địa điểm,ProductId,Tên SP,UmId,UmName,Price
0,National Average,52,Rice - Retail,5,KG,4.4920
2,National Average,52,Rice - Retail,5,KG,4.7865
3,National Average,52,Rice - Retail,5,KG,5.1337
4,National Average,52,Rice - Retail,5,KG,5.5099
5,National Average,52,Rice - Retail,5,KG,5.8146
...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,51.6071
7381,NA,RR,Rice,10,KG,84.3785

In [19]:
# Xóa các dòng có chỉ số 7377 và 7379 sử dụng phương thức drop()
data.drop([7377,7379], inplace=True)
data

,Địa điểm,ProductId,Tên SP,UmId,UmName,Price
0,National Average,52,Rice - Retail,5,KG,4.4920
2,National Average,52,Rice - Retail,5,KG,4.7865
3,National Average,52,Rice - Retail,5,KG,5.1337
4,National Average,52,Rice - Retail,5,KG,5.5099
5,National Average,52,Rice - Retail,5,KG,5.8146
...,...,...,...,...,...,...
7375,Izmir,502,Cocoa (powder) - Retail,5,KG,47.4010
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,47.9040
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,50.8347
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,51.6071
7381,NA,RR,Rice,10,KG,84.3785

In [28]:
# Truy cập dòng có chỉ số 3 của dữ liệu
tg = data.iloc[3]
tg

Place          National Average
ProductId                    52
ProductName       Rice - Retail
UmId                          5
UmName                       KG
Month                        12
Year                       2013
Price                    5.1337
Name: 3, dtype: object

In [21]:
# Truy cập các dòng có chỉ số liên tục từ 3 tới 8 của dữ liệu
tg = data.iloc[3:8]
tg

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
6,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7,National Average,52,Rice - Retail,5,KG,5,2014,6.3202

In [22]:
# Truy cập các dòng rời rạc của dữ liệu
tg = data.iloc[[3,5,7]]
tg

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
5,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
7,National Average,52,Rice - Retail,5,KG,5,2014,6.3202

In [23]:
# Truy cập cột thứ 4 của dữ liệu
# : được sử dụng để đại diện cho tất cả các dòng.
tg = data.iloc[:,4]
tg

0       KG
1       KG
2       KG
3       KG
4       KG
        ..
7376    KG
7377    KG
7378    KG
7379    KG
7380    KG
Name: UmName, Length: 7381, dtype: object

In [24]:
# Truy cập các cột liên tục từ cột 3 tới cột 8 của dữ liệu
tg = data.iloc[:,3:8]
tg

      UmId UmName  Month  Year    Price
0        5     KG      5  2013   4.4920
1        5     KG      6  2013   4.5786
2        5     KG     11  2013   4.7865
3        5     KG     12  2013   5.1337
4        5     KG      1  2014   5.5099
...    ...    ...    ...   ...      ...
7376     5     KG      8  2019  47.9040
7377     5     KG      9  2019  49.1176
7378     5     KG     10  2019  50.8347
7379     5     KG     11  2019  51.7985
7380     5     KG     12  2019  51.6071

[7381 rows x 5 columns]

In [25]:
# Truy cập tới phần tử tại dòng 3 cột 7 của dữ liệu
tg = data.iloc[3,7]
tg

5.1337

In [26]:
# Truy cập tới các phần tử từ dòng 3 đến dòng 4, cột 5 đến cột 6 của dữ liệu
tg = data.iloc[3:5,5:7]
tg

   Month  Year
3     12  2013
4      1  2014

In [27]:
# Truy cập dòng có chỉ số 3 của dữ liệu
tg = data.loc[3]
tg

Place          National Average
ProductId                    52
ProductName       Rice - Retail
UmId                          5
UmName                       KG
Month                        12
Year                       2013
Price                    5.1337
Name: 3, dtype: object

In [30]:
# Truy cập cột thứ 4 của dữ liệu
tg = data.loc[:,'UmName']
tg

0       KG
1       KG
2       KG
3       KG
4       KG
        ..
7376    KG
7377    KG
7378    KG
7379    KG
7380    KG
Name: UmName, Length: 7381, dtype: object

In [32]:
# Truy cập cột thứ 4,5 của dữ liệu
tg = data.loc[:,['UmName','Month']]
tg

     UmName  Month
0        KG      5
1        KG      6
2        KG     11
3        KG     12
4        KG      1
...     ...    ...
7376     KG      8
7377     KG      9
7378     KG     10
7379     KG     11
7380     KG     12

[7381 rows x 2 columns]

In [33]:
# Truy cập tới phần tử tại dòng 3 cột 7 của dữ liệu
tg = data.loc[3,'Price']
tg

5.1337

In [34]:
# Truy cập tới phần tử có Year >=2019
tg = data.loc[data.Year >= 2019]
tg

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
54,National Average,52,Rice - Retail,5,KG,1,2019,8.4275
55,National Average,52,Rice - Retail,5,KG,2,2019,8.7656
56,National Average,52,Rice - Retail,5,KG,3,2019,8.8101
57,National Average,52,Rice - Retail,5,KG,4,2019,8.9266
58,National Average,52,Rice - Retail,5,KG,5,2019,9.1866
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [35]:
# Thay số 5 bằng số 10 trong toàn bộ dữ liệu
data.replace(5,10,inplace = True)
data.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,10,KG,10,2013,4.4920
1,National Average,52,Rice - Retail,10,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,10,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,10,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,10,KG,1,2014,5.5099

In [36]:
# Thay mã sản phẩm từ giá trị 52 thành RR trong toàn bộ dữ liệu
# RR là chuỗi ký tự nên được để trong cặp dấu nháy đơn
data.replace(52,'RR',inplace = True)
data.head()

              Place ProductId    ProductName  UmId UmName  Month  Year   Price
0  National Average        RR  Rice - Retail    10     KG     10  2013  4.4920
1  National Average        RR  Rice - Retail    10     KG      6  2013  4.5786
2  National Average        RR  Rice - Retail    10     KG     11  2013  4.7865
3  National Average        RR  Rice - Retail    10     KG     12  2013  5.1337
4  National Average        RR  Rice - Retail    10     KG      1  2014  5.5099

In [37]:
# Thay giá trị 10 trong cột Month thành giá trị 5
data['Month'].replace(10,5,inplace = True)
data.head()

              Place ProductId    ProductName  UmId UmName  Month  Year   Price
0  National Average        RR  Rice - Retail    10     KG      5  2013  4.4920
1  National Average        RR  Rice - Retail    10     KG      6  2013  4.5786
2  National Average        RR  Rice - Retail    10     KG     11  2013  4.7865
3  National Average        RR  Rice - Retail    10     KG     12  2013  5.1337
4  National Average        RR  Rice - Retail    10     KG      1  2014  5.5099