In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'C:\Users\Admin\resources\shopeep_koreantop_clothing_shop_data.csv',encoding = 'ISO-8859-1')
df.head()

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pk_shop             746 non-null    int64
 1   date_collected      746 non-null    object
 2   shopid              746 non-null    int64
 3   name                746 non-null    object
 4   join_month          746 non-null    object
 5   join_day            746 non-null    int64
 6   join_year           746 non-null    int64
 7   item_count          746 non-null    int64
 8   follower_count      746 non-null    int64
 9   response_time       746 non-null    object
 10  response_rate       746 non-null    int64
 11  shop_location       428 non-null    object
 12  rating_bad          746 non-null    int64
 13  rating_good         746 non-null    int64
 14  rating_normal       746 non-null    int64
 15  rating_star         740 non-null    float64
 16  is_shopee_verified  746 non-null    int64
 17  is_official_shop    746 non-null    int64
dtypes: float64(1), int64(12), object(5)
memory usage: 105.0+ KB

In [3]:
#Lấy một cột theo tên cột

#Cách 1: dùng phương thức filter

df1 = df.filter(['shop_location'])
df1

                  shop_location
0                           NaN
1      San Nicolas,Metro Manila
2       Pasay City,Metro Manila
3          Binondo,Metro Manila
4    Caloocan City,Metro Manila
..                          ...
741          Legazpi City,Albay
742                         NaN
743                         NaN
744        Binondo,Metro Manila
745     Pasay City,Metro Manila

[746 rows x 1 columns]

In [4]:
#Cách 2: truyền trực tiếp tên cột

df1 = df[['shop_location']]
df1

                  shop_location
0                           NaN
1      San Nicolas,Metro Manila
2       Pasay City,Metro Manila
3          Binondo,Metro Manila
4    Caloocan City,Metro Manila
..                          ...
741          Legazpi City,Albay
742                         NaN
743                         NaN
744        Binondo,Metro Manila
745     Pasay City,Metro Manila

[746 rows x 1 columns]

In [5]:
#Lấy nhiều cột theo tên cột

#Cách 1: dùng phương thức filter

df2 = df.filter(['join_month', 'join_day','join_year'])
df2

    join_month  join_day  join_year
0        April        27       2020
1    September        25       2020
2    September        27       2016
3        April        30       2017
4      October        18       2016
..         ...       ...        ...
741        May        22       2021
742      March         3       2021
743   December        20       2020
744     August         2       2017
745       June        17       2017

[746 rows x 3 columns]

In [6]:
#Cách 2: truyền trực tiếp tên cột

df2 = df[['join_month', 'join_day','join_year']]
df2

    join_month  join_day  join_year
0        April        27       2020
1    September        25       2020
2    September        27       2016
3        April        30       2017
4      October        18       2016
..         ...       ...        ...
741        May        22       2021
742      March         3       2021
743   December        20       2020
744     August         2       2017
745       June        17       2017

[746 rows x 3 columns]

In [7]:
#Lấy thông tin các bản ghi theo chỉ số

#Cách 1: dùng phương thức filter, cho phép lấy các bản ghi rời rạc, các chỉ số được ngăn cách nhau bởi dấu phẩy.

df3 = df2.filter([0,1,2,3,4,5,6,7], axis=0)
df3

  join_month  join_day  join_year
0      April        27       2020
1  September        25       2020
2  September        27       2016
3      April        30       2017
4    October        18       2016
5      April        26       2021
6  September        17       2020
7   February        12       2019

In [8]:
#Cách 2: truyền chỉ số trực tiếp, cho phép lấy một hoặc nhiều bản ghi liên tiếp

df3 = df2[0:8]
df3

  join_month  join_day  join_year
0      April        27       2020
1  September        25       2020
2  September        27       2016
3      April        30       2017
4    October        18       2016
5      April        26       2021
6  September        17       2020
7   February        12       2019

In [9]:
#Lấy thông tin kết hợp theo hàng và cột

#Cách 1: dùng phương thức filter.

df4=df.filter(['pk_shop','rating_bad','rating_good'])[:8]
df4

             pk_shop  rating_bad  rating_good
0  20210613254711738         181        17510
1  20210613314198143          78         2656
2   2021061310377223        4647      1071829
3   2021061321407329          44        18959
4   2021061311187885         680        39252
5  20210613430999411           0            2
6  20210613310915998          87        16460
7  20210613126018720         354        22350

In [10]:
#Cách 2: truyền chỉ số 

df4=df[['pk_shop','rating_bad','rating_good']][:8]
df4

             pk_shop  rating_bad  rating_good
0  20210613254711738         181        17510
1  20210613314198143          78         2656
2   2021061310377223        4647      1071829
3   2021061321407329          44        18959
4   2021061311187885         680        39252
5  20210613430999411           0            2
6  20210613310915998          87        16460
7  20210613126018720         354        22350

In [11]:
#Lọc bản ghi theo điều kiện
#TH1: Lọc các bản ghi theo điều kiện đơn
df[df['join_month']=='April']

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
5,20210613430999411,2021-06-13,430999411,Bellamy House,April,26,2021,115,41,12:33:58,29,NaN,0,2,0,5.00,0,0
13,2021061364909141,2021-06-13,64909141,ikon Bra Dress Crop top,April,13,2018,3630,195475,10:43:46,99,NaN,1809,99426,4793,4.77,0,0
17,2021061320477406,2021-06-13,20477406,PinSan UnderWear,April,17,2017,215,517911,08:05:48,94,"Binondo,Metro Manila",7797,608451,24896,4.81,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,20210706419928844,2021-07-06,419928844,Only For Youï¼today,April,9,2021,356,1061,09:04:02,98,NaN,30,426,47,4.46,0,0
735,20210706141606030,2021-07-06,141606030,ð¿ Peppermint Shop,April,22,2019,4206,28039,08:20:51,67,NaN,71,6026,185,4.83,0,0
737,20210706416886409,2021-07-06,416886409,vaapo.ph,April,4,2021,620,228,09:44:25,94,NaN,0,36,1,4.89,1,0
738,20210706419954100,2021-07-06,419954100,Fall in love with you,April,9,2021,662,12968,09:33:28,59,NaN,21,1092,63,4.75,0,0
739,2021070664360491,2021-07-06,64360491,Yzkzks.ph,April,9,2018,650,80591,10:41:36,92,"Pasay City,Metro Manila",385,55669,1161,4.89,0,0

In [12]:
#TH2: Lọc các bản ghi theo điều kiện phức
df[(df['join_year'] == 2021) & (df['follower_count'] >= 10000)]

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
23,20210613418672464,2021-06-13,418672464,xuxixi,April,7,2021,220,10180,09:26:55,95,NaN,5,1771,35,4.91,1,0
326,20210621419954100,2021-06-21,419954100,Fall in love with you,April,9,2021,662,12783,09:01:18,86,NaN,13,795,36,4.79,1,0
365,20210628418672464,2021-06-28,418672464,xuxixi,April,7,2021,220,13768,10:23:37,91,NaN,16,3146,71,4.89,1,0
389,20210628373953071,2021-06-28,373953071,LK Shop ph,January,16,2021,110,25191,10:17:41,63,"Valenzuela City,Metro Manila",86,19835,490,4.88,0,0
558,20210706382931801,2021-07-06,382931801,Stop And Shop Fashion,February,3,2021,154,39669,09:25:24,90,"Taytay,Rizal",1534,21058,2422,4.45,0,0
561,20210706373953071,2021-07-06,373953071,LK Shop ph,January,16,2021,110,25806,10:08:14,67,"Valenzuela City,Metro Manila",88,20858,520,4.88,0,0
572,20210706418672464,2021-07-06,418672464,XuXi Apparel Store,April,7,2021,214,15614,10:23:31,89,NaN,19,3792,85,4.89,1,0
738,20210706419954100,2021-07-06,419954100,Fall in love with you,April,9,2021,662,12968,09:33:28,59,NaN,21,1092,63,4.75,0,0

In [13]:
#TH3: Lọc các cột và các bản ghi theo điều kiện 
df[df['join_month']=='April'].filter(['response_time','response_rate'])

    response_time  response_rate
0        10:13:55             96
3        09:10:38             94
5        12:33:58             29
13       10:43:46             99
17       08:05:48             94
..            ...            ...
724      09:04:02             98
735      08:20:51             67
737      09:44:25             94
738      09:33:28             59
739      10:41:36             92

[74 rows x 2 columns]

In [14]:
df.query("(join_year == 2021) and (follower_count >= 10000)")

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
23,20210613418672464,2021-06-13,418672464,xuxixi,April,7,2021,220,10180,09:26:55,95,NaN,5,1771,35,4.91,1,0
326,20210621419954100,2021-06-21,419954100,Fall in love with you,April,9,2021,662,12783,09:01:18,86,NaN,13,795,36,4.79,1,0
365,20210628418672464,2021-06-28,418672464,xuxixi,April,7,2021,220,13768,10:23:37,91,NaN,16,3146,71,4.89,1,0
389,20210628373953071,2021-06-28,373953071,LK Shop ph,January,16,2021,110,25191,10:17:41,63,"Valenzuela City,Metro Manila",86,19835,490,4.88,0,0
558,20210706382931801,2021-07-06,382931801,Stop And Shop Fashion,February,3,2021,154,39669,09:25:24,90,"Taytay,Rizal",1534,21058,2422,4.45,0,0
561,20210706373953071,2021-07-06,373953071,LK Shop ph,January,16,2021,110,25806,10:08:14,67,"Valenzuela City,Metro Manila",88,20858,520,4.88,0,0
572,20210706418672464,2021-07-06,418672464,XuXi Apparel Store,April,7,2021,214,15614,10:23:31,89,NaN,19,3792,85,4.89,1,0
738,20210706419954100,2021-07-06,419954100,Fall in love with you,April,9,2021,662,12968,09:33:28,59,NaN,21,1092,63,4.75,0,0

In [15]:
df.groupby('name')['follower_count'].mean()

name
 Youku Shangyi fashion store        139.5
 Zanzea Women's Apparel            1014.0
(MEILUN)Men's Fashion               113.0
1989minishop                      22280.0
5ngyzt5ebj                         7290.0
                                   ...
zhufeng2.ph                        1094.0
â­ï¸Pink Star Korea Fashion     37346.0
å°é¾ä¸åââæ¥ç¨ç¾è´§      339.0
ð¿ Peppermint Shop              28039.0
ðTrendy girlð                 152.0
Name: follower_count, Length: 391, dtype: float64

In [16]:
df.groupby(['join_year','shop_location'])[['rating_bad','rating_good']].max()

                                        rating_bad  rating_good
join_year shop_location
2015      Taytay,Rizal                        2387       343050
2016      Bacoor,Cavite                        191        26249
          Caloocan City,Metro Manila          1967       151821
          Marikina City,Metro Manila            75         2550
          Paranaque City,Metro Manila          722        33438
...                                            ...          ...
2021      Santa Cruz,Metro Manila                0          345
          Silang,Cavite                          0           48
          Taytay,Rizal                        1534        21058
          Tondo I / Ii,Metro Manila             13         1717
          Valenzuela City,Metro Manila          88        20858

[97 rows x 2 columns]

In [17]:
# Để đơn giản ta thực hiện lọc tập dữ liệu ban đầu theo các thuộc tính sau
df = df[['join_month', 'join_day','join_year','shop_location','rating_bad','rating_good','rating_normal']]
df

,join_month,join_day,join_year,shop_location,rating_bad,rating_good,rating_normal
0,April,27,2020,NaN,181,17510,729
1,September,25,2020,"San Nicolas,Metro Manila",78,2656,198
2,September,27,2016,"Pasay City,Metro Manila",4647,1071829,18073
3,April,30,2017,"Binondo,Metro Manila",44,18959,215
4,October,18,2016,"Caloocan City,Metro Manila",680,39252,2383
...,...,...,...,...,...,...,...
741,May,22,2021,"Legazpi City,Albay",0,32,0
742,March,3,2021,NaN,1,9,0
743,December,20,2020,NaN,16,463,16
744,August,2,2017,"Binondo,Metro Manila",1960,103289,3982
745,June,17,2017,"Pasay City,Metro Manila",13401,708666,30799

In [18]:
# Tạo cột 'rating' tính điểm cho mỗi cửa hàng dựa vào thông tin các cột rating_bad, rating_good, rating_normal 
# theo công thức sau: rating = rating_good *2 + rating_normal - rating_bad*3

df['rating'] = df['rating_good'] * 2 + df['rating_normal'] - df['rating_bad'] * 3
df

,join_month,join_day,join_year,shop_location,rating_bad,rating_good,rating_normal,rating
0,April,27,2020,NaN,181,17510,729,35206
1,September,25,2020,"San Nicolas,Metro Manila",78,2656,198,5276
2,September,27,2016,"Pasay City,Metro Manila",4647,1071829,18073,2147790
3,April,30,2017,"Binondo,Metro Manila",44,18959,215,38001
4,October,18,2016,"Caloocan City,Metro Manila",680,39252,2383,78847
...,...,...,...,...,...,...,...,...
741,May,22,2021,"Legazpi City,Albay",0,32,0,64
742,March,3,2021,NaN,1,9,0,15
743,December,20,2020,NaN,16,463,16,894
744,August,2,2017,"Binondo,Metro Manila",1960,103289,3982,204680
745,June,17,2017,"Pasay City,Metro Manila",13401,708666,30799,1407928

In [19]:
# ghép 3 cột join_month, join_day, join_year thành cột mới có tên 'date' nhận giá trị có dạng: "join_month join_day,join_year"

df['date'] = df['join_month'] + " " + df['join_day'].astype(str) + "," + df['join_year'].astype(str)
df

,join_month,join_day,join_year,shop_location,rating_bad,rating_good,rating_normal,rating,date
0,April,27,2020,NaN,181,17510,729,35206,"April 27,2020"
1,September,25,2020,"San Nicolas,Metro Manila",78,2656,198,5276,"September 25,2020"
2,September,27,2016,"Pasay City,Metro Manila",4647,1071829,18073,2147790,"September 27,2016"
3,April,30,2017,"Binondo,Metro Manila",44,18959,215,38001,"April 30,2017"
4,October,18,2016,"Caloocan City,Metro Manila",680,39252,2383,78847,"October 18,2016"
...,...,...,...,...,...,...,...,...,...
741,May,22,2021,"Legazpi City,Albay",0,32,0,64,"May 22,2021"
742,March,3,2021,NaN,1,9,0,15,"March 3,2021"
743,December,20,2020,NaN,16,463,16,894,"December 20,2020"
744,August,2,2017,"Binondo,Metro Manila",1960,103289,3982,204680,"August 2,2017"
745,June,17,2017,"Pasay City,Metro Manila",13401,708666,30799,1407928,"June 17,2017"

In [20]:
# Thêm cột new có giá trị True nếu join_year = 2021 và False trong trường hợp còn lại.
df['new'] = df['join_year'] == 2021 
df

,join_month,join_day,join_year,shop_location,rating_bad,rating_good,rating_normal,rating,date,new
0,April,27,2020,NaN,181,17510,729,35206,"April 27,2020",False
1,September,25,2020,"San Nicolas,Metro Manila",78,2656,198,5276,"September 25,2020",False
2,September,27,2016,"Pasay City,Metro Manila",4647,1071829,18073,2147790,"September 27,2016",False
3,April,30,2017,"Binondo,Metro Manila",44,18959,215,38001,"April 30,2017",False
4,October,18,2016,"Caloocan City,Metro Manila",680,39252,2383,78847,"October 18,2016",False
...,...,...,...,...,...,...,...,...,...,...
741,May,22,2021,"Legazpi City,Albay",0,32,0,64,"May 22,2021",True
742,March,3,2021,NaN,1,9,0,15,"March 3,2021",True
743,December,20,2020,NaN,16,463,16,894,"December 20,2020",False
744,August,2,2017,"Binondo,Metro Manila",1960,103289,3982,204680,"August 2,2017",False
745,June,17,2017,"Pasay City,Metro Manila",13401,708666,30799,1407928,"June 17,2017",False

In [23]:
# Nếu có 2 lựa chọn ta sử dụng np.where
# Thêm cột rate có giá trị good nếu rating_good >= 50000,  bad trong trường hợp còn lại
df['rate'] = np.where(df['rating_good'] >= 50000,'good','bad' )
df

,join_month,join_day,join_year,shop_location,rating_bad,rating_good,rating_normal,rating,date,new,rate,flag
0,April,27,2020,NaN,181,17510,729,35206,"April 27,2020",False,bad,yellow
1,September,25,2020,"San Nicolas,Metro Manila",78,2656,198,5276,"September 25,2020",False,bad,red
2,September,27,2016,"Pasay City,Metro Manila",4647,1071829,18073,2147790,"September 27,2016",False,good,black
3,April,30,2017,"Binondo,Metro Manila",44,18959,215,38001,"April 30,2017",False,bad,black
4,October,18,2016,"Caloocan City,Metro Manila",680,39252,2383,78847,"October 18,2016",False,bad,black
...,...,...,...,...,...,...,...,...,...,...,...,...
741,May,22,2021,"Legazpi City,Albay",0,32,0,64,"May 22,2021",True,bad,red
742,March,3,2021,NaN,1,9,0,15,"March 3,2021",True,bad,red
743,December,20,2020,NaN,16,463,16,894,"December 20,2020",False,bad,red
744,August,2,2017,"Binondo,Metro Manila",1960,103289,3982,204680,"August 2,2017",False,good,black
745,June,17,2017,"Pasay City,Metro Manila",13401,708666,30799,1407928,"June 17,2017",False,good,black

In [22]:
# Nếu có nhiều hơn 2 lựa chọn ta sử dụng np.select
# Thêm cột flag tặng cờ cho các cửa hàng, flag nhận các giá trị như sau:
# blue khi rating_good >= 30000 và rating_bad <= 100
# yellow khi 10000 <= rating_good < 30000 và 100 < rating_bad <= 1000
# red khi rating_good < 10000
# black đối với các trường hợp còn lại

conditions = [(df['rating_good'] >= 30000) & (df['rating_bad'] <= 100),
              (df['rating_good'] >= 10000) & (df['rating_good'] < 30000) & (df['rating_bad'] <= 1000) & (df['rating_bad'] > 100),
              (df['rating_good'] < 10000)]
choices = ['blue', 'yellow','red']
df['flag'] = np.select(conditions, choices, default='black')
df

,join_month,join_day,join_year,shop_location,rating_bad,rating_good,rating_normal,rating,date,new,rate,flag
0,April,27,2020,NaN,181,17510,729,35206,"April 27,2020",False,bad,yellow
1,September,25,2020,"San Nicolas,Metro Manila",78,2656,198,5276,"September 25,2020",False,bad,red
2,September,27,2016,"Pasay City,Metro Manila",4647,1071829,18073,2147790,"September 27,2016",False,good,black
3,April,30,2017,"Binondo,Metro Manila",44,18959,215,38001,"April 30,2017",False,bad,black
4,October,18,2016,"Caloocan City,Metro Manila",680,39252,2383,78847,"October 18,2016",False,bad,black
...,...,...,...,...,...,...,...,...,...,...,...,...
741,May,22,2021,"Legazpi City,Albay",0,32,0,64,"May 22,2021",True,bad,red
742,March,3,2021,NaN,1,9,0,15,"March 3,2021",True,bad,red
743,December,20,2020,NaN,16,463,16,894,"December 20,2020",False,bad,red
744,August,2,2017,"Binondo,Metro Manila",1960,103289,3982,204680,"August 2,2017",False,good,black
745,June,17,2017,"Pasay City,Metro Manila",13401,708666,30799,1407928,"June 17,2017",False,good,black