In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'C:\Users\Admin\resources\shopeep_koreantop_clothing_shop_data.csv',encoding = 'ISO-8859-1')
df.head()

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0

In [ ]:
df.info()

In [ ]:
#Lấy một cột theo tên cột

#Cách 1: dùng phương thức filter

df1 = df.filter(['shop_location'])
df1

In [ ]:
#Cách 2: truyền trực tiếp tên cột

df1 = df[['shop_location']]
df1

In [ ]:
#Lấy nhiều cột theo tên cột

#Cách 1: dùng phương thức filter

df2 = df.filter(['join_month', 'join_day','join_year'])
df2

In [ ]:
#Cách 2: truyền trực tiếp tên cột

df2 = df[['join_month', 'join_day','join_year']]
df2

In [ ]:
#Lấy thông tin các bản ghi theo chỉ số

#Cách 1: dùng phương thức filter, cho phép lấy các bản ghi rời rạc, các chỉ số được ngăn cách nhau bởi dấu phẩy.

df3 = df2.filter([0,1,2,3,4,5,6,7], axis=0)
df3

In [ ]:
#Cách 2: truyền chỉ số trực tiếp, cho phép lấy một hoặc nhiều bản ghi liên tiếp

df3 = df2[0:8]
df3

In [ ]:
#Lấy thông tin kết hợp theo hàng và cột

#Cách 1: dùng phương thức filter.

df4=df.filter(['pk_shop','rating_bad','rating_good'])[:8]
df4

In [ ]:
#Cách 2: truyền chỉ số 

df4=df[['pk_shop','rating_bad','rating_good']][:8]
df4

In [ ]:
#Lọc bản ghi theo điều kiện
#TH1: Lọc các bản ghi theo điều kiện đơn
df[df['join_month']=='April']

In [ ]:
#TH2: Lọc các bản ghi theo điều kiện phức
df[(df['join_year'] == 2021) & (df['follower_count'] >= 10000)]

In [ ]:
#TH3: Lọc các cột và các bản ghi theo điều kiện 
df[df['join_month']=='April'].filter(['response_time','response_rate'])

In [ ]:
df.query("(join_year == 2021) and (follower_count >= 10000)")

In [ ]:
df.groupby('name')['follower_count'].mean()

In [ ]:
df.groupby(['join_year','shop_location'])[['rating_bad','rating_good']].max()

In [ ]:
# Để đơn giản ta thực hiện lọc tập dữ liệu ban đầu theo các thuộc tính sau
df = df[['join_month', 'join_day','join_year','shop_location','rating_bad','rating_good','rating_normal']]
df

In [ ]:
# Tạo cột 'rating' tính điểm cho mỗi cửa hàng dựa vào thông tin các cột rating_bad, rating_good, rating_normal 
# theo công thức sau: rating = rating_good *2 + rating_normal - rating_bad*3

df['rating'] = df['rating_good'] * 2 + df['rating_normal'] - df['rating_bad'] * 3
df

In [ ]:
# ghép 3 cột join_month, join_day, join_year thành cột mới có tên 'date' nhận giá trị có dạng: "join_month join_day,join_year"

df['date'] = df['join_month'] + " " + df['join_day'].astype(str) + "," + df['join_year'].astype(str)
df

In [ ]:
# Thêm cột new có giá trị True nếu join_year = 2021 và False trong trường hợp còn lại.
df['new'] = df['join_year'] == 2021 
df

In [ ]:
# Nếu có 2 lựa chọn ta sử dụng np.where
# Thêm cột rate có giá trị good nếu rating_good >= 50000,  bad trong trường hợp còn lại
df['rate'] = np.where(df['rating_good'] >= 50000,'good','bad' )
df

In [ ]:
# Nếu có nhiều hơn 2 lựa chọn ta sử dụng np.select
# Thêm cột flag tặng cờ cho các cửa hàng, flag nhận các giá trị như sau:
# blue khi rating_good >= 30000 và rating_bad <= 100
# yellow khi 10000 <= rating_good < 30000 và 100 < rating_bad <= 1000
# red khi rating_good < 10000
# black đối với các trường hợp còn lại

conditions = [(df['rating_good'] >= 30000) & (df['rating_bad'] <= 100),
              (df['rating_good'] >= 10000) & (df['rating_good'] < 30000) & (df['rating_bad'] <= 1000) & (df['rating_bad'] > 100),
              (df['rating_good'] < 10000)]
choices = ['blue', 'yellow','red']
df['flag'] = np.select(conditions, choices, default='black')
df

In [2]:
# Để đơn giản ta thực hiện lọc tập dữ liệu ban đầu theo các thuộc tính sau
df = df[['date_collected','shop_location','response_time']]
df

    date_collected               shop_location response_time
0       2021-06-13                         NaN      10:13:55
1       2021-06-13    San Nicolas,Metro Manila      10:43:05
2       2021-06-13     Pasay City,Metro Manila      08:32:07
3       2021-06-13        Binondo,Metro Manila      09:10:38
4       2021-06-13  Caloocan City,Metro Manila      11:40:59
..             ...                         ...           ...
741     2021-07-06          Legazpi City,Albay      08:45:30
742     2021-07-06                         NaN      08:01:23
743     2021-07-06                         NaN      08:46:30
744     2021-07-06        Binondo,Metro Manila      12:19:44
745     2021-07-06     Pasay City,Metro Manila      10:02:42

[746 rows x 3 columns]

In [3]:
# Tách cột shop_location thành 2 cột District và City
df['District']=df['shop_location'].str.split(',').str[0]
df['City']=df['shop_location'].str.split(',').str[1]
df

,date_collected,shop_location,response_time,District,City
0,2021-06-13,NaN,10:13:55,NaN,NaN
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila
...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay
742,2021-07-06,NaN,08:01:23,NaN,NaN
743,2021-07-06,NaN,08:46:30,NaN,NaN
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila

In [4]:
# Tách cột date_collected thành 3 cột Day, Month, Year

df['Day']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.day
df['Month']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.month
df['Year']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.year
df

,date_collected,shop_location,response_time,District,City,Day,Month,Year
0,2021-06-13,NaN,10:13:55,NaN,NaN,13,6,2021
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila,13,6,2021
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila,13,6,2021
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila,13,6,2021
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila,13,6,2021
...,...,...,...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay,6,7,2021
742,2021-07-06,NaN,08:01:23,NaN,NaN,6,7,2021
743,2021-07-06,NaN,08:46:30,NaN,NaN,6,7,2021
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila,6,7,2021
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila,6,7,2021

In [5]:
# Tách cột response_time thành 3 cột Hour, Minute, Second
df['Hour']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.hour
df['Minute']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.minute
df['Second']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.second
df

,date_collected,shop_location,response_time,District,City,Day,Month,Year,Hour,Minute,Second
0,2021-06-13,NaN,10:13:55,NaN,NaN,13,6,2021,10,13,55
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila,13,6,2021,10,43,5
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila,13,6,2021,8,32,7
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila,13,6,2021,9,10,38
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila,13,6,2021,11,40,59
...,...,...,...,...,...,...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay,6,7,2021,8,45,30
742,2021-07-06,NaN,08:01:23,NaN,NaN,6,7,2021,8,1,23
743,2021-07-06,NaN,08:46:30,NaN,NaN,6,7,2021,8,46,30
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila,6,7,2021,12,19,44
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila,6,7,2021,10,2,42